apiVersion: apps/v1 
kind: Deployment
metadata:
  labels:
    app: my-nginx 
  name: my-nginx
  namespace: k8s-example
spec:
  replicas: 2
  selector:
    matchLabels:
      app: my-nginx
  template:
    metadata:
      labels:
        app: my-nginx
    spec:
      containers:
      - image: nginx
        imagePullPolicy: Always
        name: my-nginx
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        resources:
          requests:
            cpu: "250m"
            memory: "64Mi"
          limits:
            cpu: "500m"
            memory: "128Mi"
      dnsPolicy: ClusterFirst
      restartPolicy: Always
  
